<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DXSEFacebook</key>
	<dict>
		<key>oauthKey</key>
		<string>212660275441074</string>
		<key>oauthSecret</key>
		<string>e506319885e5089b90b31842873c5461</string>
		<key>redirectURL</key>
		<string></string>
	</dict>
	<key>DXSETwitter</key>
	<dict>
		<key>oauthKey</key>
		<string>bTbgFez3wjSnrTiebajtsA</string>
		<key>oauthSecret</key>
		<string>bNYJtQh4ZWYyAixAPBNUaoWyLp6y8xHlCUuWhs441U</string>
		<key>redirectURL</key>
		<string>http://google.com</string>
	</dict>
	<key>DXSE4Square</key>
	<dict>
		<key>oauthKey</key>
		<string>WNTV2ERIO1RWMGJSMA4AZ2MLEVKDXD2BBVALLZUCOZPHK5RG</string>
		<key>oauthSecret</key>
		<string>AIH3QFBLR0XZJLSTYUYSM30IY5MNIWOKDEKGBJW5TRU0OHL5</string>
		<key>redirectURL</key>
		<string>https://dev.roundonme.com/</string>
	</dict>
	<key>DXSEInstagram</key>
	<dict>
		<key>oauthKey</key>
		<string>0b1a50c74f224b15b71f7c37e8f8b3af</string>
		<key>oauthSecret</key>
		<string>359c144fa174480ab8cca8bc6327e928</string>
		<key>redirectURL</key>
		<string>wfinst://</string>
	</dict>
</dict>
</plist>
