<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DXSEFacebook</key>
	<dict>
		<key>oauthKey</key>
		<string>212660275441074</string>
		<key>oauthSecret</key>
		<string>e506319885e5089b90b31842873c5461</string>
		<key>redirectURL</key>
		<string></string>
	</dict>
	<key>DXSETwitter</key>
	<dict>
		<key>oauthKey</key>
		<string>ZN2LGwXNrASxqpHyPbSuEQ</string>
		<key>oauthSecret</key>
		<string>LeNCyssmt6FBV4OQF0Kz5NLie3oqyxh1QgP2GwvCZE</string>
		<key>redirectURL</key>
		<string></string>
	</dict>
	<key>DXSE4Square</key>
	<dict>
		<key>oauthKey</key>
		<string>WNTV2ERIO1RWMGJSMA4AZ2MLEVKDXD2BBVALLZUCOZPHK5RG</string>
		<key>oauthSecret</key>
		<string>AIH3QFBLR0XZJLSTYUYSM30IY5MNIWOKDEKGBJW5TRU0OHL5</string>
		<key>redirectURL</key>
		<string>https://dev.roundonme.com/</string>
	</dict>
</dict>
</plist>
